* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.4;
}

a {
	color: #1557A3;
}

table {
    table-layout: fixed;
}

thead th {
	text-align: left;
	border-bottom: 1px solid #555;
	font-weight: 400;
	white-space: nowrap;
	min-width: 1em;
	padding-right: 0.5em;
	text-transform: uppercase;
	font-size: 0.8em;
}

thead th a {
	text-decoration: none;

}

tfoot td {
	text-align: left;
	border-top: 1px solid #555;
	font-weight: 400;
	white-space: nowrap;
	min-width: 1em;
	padding-right: 0.5em;
}

table {
	min-width: 100%;
	border-collapse: collapse;
}

dt {
	font-weight: 600;
}

.whitespaced {
	white-space: pre-wrap;
}

.empty {
	color: #aaa;
}

.disabled {
	color: #888;
}

.no-data {
	font-size: 1.6em;
	color: #aaa;
	font-weight: 600;
	padding: 0.5em 0;
	background: #eee;
}

tbody td {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	vertical-align: top;
	border-bottom: 1px solid transparent;
}

tbody tr:nth-child(2n) td {
	background-color: #fafafa;
}

tr.state-selected > td {
	background-color: #ffffaa !important;
	border-bottom-color: #eeee99;
}

svg {
	max-width: 300px;
}

.sql {
	background-color: #303030;
	color: #fafafa;
	white-space: pre;
	font-family: monospace;
	max-height: 10em;
	overflow: auto;
	padding: 5px;
}

.json {
	background-color: #303030;
	color: #fafafa;
	white-space: pre-wrap;
	font-family: monospace;
	overflow: auto;
	padding: 5px;
}

.color {
	font-family: monospace;
}



.json-small {
	background-color: #303030;
	color: #fafafa;
	white-space: pre-wrap;
	font-family: monospace;
	overflow: auto;
	padding: 2px;
	border-radius: 3px;
}

body .debug {
	display: none;
}

body.debug .debug {
	display: block;
	font-family: monospace;
}
.hyper {
	font-size: 1.3em;
	text-decoration: none;
}

.menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	background-color: #EEEEEE;
	padding: 5em 2em 3em;
	font-size: 0.9em;
	line-height: 1.5;
}

.app-title {
	background-color: #222222;
	color: #fff;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-left: inherit;
	font-weight: lighter;
	text-decoration: none;
	line-height: 2.8;
	font-size: 1.5em;
	text-transform: uppercase;
}

.app-title a {
	color: inherit;
	text-decoration: inherit;
}

.content {
	position: absolute;
	left: 23%;
	top: 0;
	padding-top: 2em;
	right: 2%;
	overflow: scroll;
}


.prop-list:after {
  content: '';
  display: block;
  clear: both;
}
.prop-list dt {
  float: left;
  clear: left;
  padding-top: 0.4em;
  margin-right: 1em;
  font-weight: bold;
  font-weight: normal;
  text-align: right;
  min-width: 8em;
  text-transform: uppercase;
  font-size: 0.9em;
}

/*input:not([type=radio]):not([type=checkbox]) {
	display: block;
	padding: 0.2em;
	margin: 0.5em;
}*/

.prop-list dt:after {
	content: ':';
}
.prop-list dd {
  padding-top: 0.4em;
  margin-left: 8em;
  color: #555;
  min-height: 1.7em;
}

.nav-group-title {
	margin: 1em 0 0 0;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #999;
}

.nav-list {
	margin: 0;
	list-style: none;
	padding: 0;
}

.nav-table {
	text-decoration: none;
}

.sort {
	font-size: 12px;
	text-decoration: none;
}

.searchbox {
	float: right;
}

.fill-label {
	position: relative;
}

.fill-label > label {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-align: center;
}

li a.state-active {
	font-weight: bold;
}

li a.state-active::after {
	content: ' »';
}

.login-panel-outer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #222;
	display: flex;
	align-content: center;
	justify-content: center;
}

.login-title {
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

.login-error {
	color: #aa0000;
	text-align: center;
}

.login-panel {
	background-color: #fff;
	padding: 2em 2em 2em;
	align-self: center;
	min-width: 27em;
}

.child-records {
	padding: 0.5em 1em;
	border: 3px solid #f0f0f0;
	margin: 1em 0;
	overflow: auto;
}

.child-records > :first-child {
	margin-top: 0;
}

.sub-form {
	display: none;
}
.sub-form.state-visible {
	display: block;
}

.badge {
	background-color: #1557A3;
	color: #fff;
	border-radius: 1.5em;
	padding: 0 .5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.6;
	font-size: 0.9em;
	margin: 0 0.5em;
	display: inline-block;
	text-decoration: none;
}