{% import "fields.html.twig" as fields %}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class='menu'>
    	<h1 class="app-title"><a href="{{ path('root') }}">DB Manager</a></h1>

		{% include 'navigation.html.twig' with {'groups': graph.groups, 'entity': entity, 'ungrouped':graph.ungroupedEntities} only %}
    </div>

    <div class="content">
    	<h1>{{ entity.title }}: {{ id|join(':') }}</h1>

    	
    </div>
{% endblock %}