{% extends 'layout.html.twig' %}

{% block body %}
    <div class='menu'>
    	<h1 class="app-title">DB Manager</h1>

		{% include 'navigation.html.twig' with {'groups': graph.groups, 'ungrouped':graph.ungroupedEntities} only %}
    </div>

    <div class="content">
    </div>
{% endblock %}