{% extends 'layout.html.twig' %}

{% block body %}
    <div class='menu'>
    	<h1>DB Manager</h1>
	
		<a href=?logout rel=nofollow>Logout</a> | 
		<label><input type=checkbox onChange=\"document.body.classList.toggle('debug', this.checked)\"/> Debug</label>
		<hr>

		{% include 'navigation.html.twig' with {'groups': graph.groups, 'ungrouped':graph.ungroupedEntities} only %}
    </div>

    <div class="content">
    </div>
{% endblock %}