{% extends 'layout.html.twig' %}

{% block body %}
    <div class='menu'>
    	{% include 'header.html.twig' %}

		{% include 'navigation.html.twig' with {'groups': graph.groups, 'ungrouped':graph.ungroupedEntities, 'entity': null, params: params} only %}
    </div>

    <div class="content">
    	<h2>Welcome</h2>

    	<p>
    		Select a Data Set on the left.
    	</p>
    </div>
{% endblock %}